**Muhammad Usman**    
**PIAIC253607**

**Question 1**:To find all such number which are divisible by 7 but not multiple of 5 from 2000 to 3200

In [ ]:
def num():

  for i in range(2000,3201):

    """To find all such number which are divisible by 7
     but not multiple of 5 from 2000 to 3200"""

    if i%7==0 and i%5!=0:
      print(i,end=',')

if __name__ == '__main__':
  num()

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

**Question2:** To find the factorial of an input number

In [ ]:
import math

'''To find the factorial of an input number'''

def factorial():
   user_input=input('Enter a Number: ')
   try:
    user_input=int((user_input))
    factorial=math.factorial(user_input)
    print(f'Factorial of {user_input} are :{factorial}')
   except ValueError:
    print(f'Invalid Input.Please enter an integer.')
if __name__=='__main__':
    factorial()

Enter a Number: 8
Factorial of 8 are :40320

**Question3:**To Create a Dictionary that contains (i,i*I)

In [ ]:
def integral():

  '''To Create a Dictionary that contains (i,i*I)'''

  user_input=input('Enter Number of keys of Dictionary: ')
  try:
    user_input=int(user_input)
    dictionary={}
    for i in range(1,user_input+1):
      dictionary[i]=i*i
    print(dictionary)
  except ValueError:
    print('Invalid Input.Please enter an integer.')
if __name__=='__main__':
  integral()

Enter Number of keys of Dictionary: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

**Question4:**To generate a list and a tuple.

In [ ]:
def list_tuple():

  '''To generate a list and a tuple.'''

  user_input=input('Enter comma-sepparated numbers: ')
  numbers=user_input.split(',')
  print(list(numbers))
  print(tuple(numbers))
if __name__=='__main__':
  list_tuple()

Enter comma-sepparated numbers: 12,23,34,45,56,67,78,89,90,
['12', '23', '34', '45', '56', '67', '78', '89', '90', '']
('12', '23', '34', '45', '56', '67', '78', '89', '90', '')

**Question5:**To Define a class

In [ ]:
'''Definig a Class'''
class String():

  def __iniit__(self):
    self.s=""

  def getstring(self):
    self.s=input()

  def printstring(self):
    print(self.s.upper())

def test():
  obj=String()
  obj.getstring()
  obj.printstring()
test()

23
23

**Question6:**To find the value of Q

In [ ]:
import math

'''To find the value of Q'''

def calculate_Q():
  C=50
  H=30
  Q_list=[]

  try:
    D=input('Enter comma-separated value of D: ')
    D=D.split(',')

    for D_value in D:
      Q=math.sqrt((2 * C * int(D_value))/H)
      Q=int(Q)
      Q_list.append(Q)

    print(f'Values for Q:{Q_list}')

  except ValueError:
    print('Invalid Input.Please enter comma-separated value of D.')

if __name__=='__main__':
    calculate_Q()

Enter comma-separated value of D: 100,150,180
Values for Q:[18, 22, 24]

**Question7:**To Generate a Two-Dimensional Array

In [ ]:
def array():

  '''To Generate a Two-Dimensional Array'''

  user_input=input('Enter two comma-separated numbers: ')
  X,Y=user_input.split(',')

  try:
    X=int(X)
    Y=int(Y)
    array=[]
    for i in range(X):
      array.append([])
      for j in range(Y):
        array[i].append(i*j)
    print(array)

  except ValueError:
    print('Invalid Input.Please enter two comma-separated numbers.')

if __name__=='__main__':
  array()

Enter two comma-separated numbers: 2,3
[[0, 0, 0], [0, 1, 2]]

**Question8:**To sort the words alphabetically

In [ ]:
def sort_words():

  '''To sort the words alphabetically'''

  user_input=input('Enter comma-separated words: ')
  words=user_input.split(',')
  words.sort()
  print(words)

if __name__=='__main__':
  sort_words()

Enter comma-separated words: without,hello,bag,world
['bag', 'hello', 'without', 'world']

**Question9:**To captilize an input sentence

In [ ]:
def capitilize():

  '''To captilize an input sentence'''

  user_input=input('Enter a Sentence: ')
  user_input=user_input.upper()
  print(user_input)

if __name__=='__main__':
  capitilize()

Enter a Sentence: a very healthy man running on the road.
A VERY HEALTHY MAN RUNNING ON THE ROAD.

**Question10:**To remove duplicate words and sort the words

In [ ]:
def remove_duplicate():

  '''To remove duplicate words and sort the words'''

  user_input=input('Enter whitespace separated words: ')
  words=user_input.split(' ')
  words=list(set(words))
  words.sort()
  print(' '.join(words))

if __name__=='__main__':
  remove_duplicate()

Enter whitespace separated words: hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

**Question11:**To check the binary numbers if they are divided by 5

In [ ]:
def binary_number():

  '''To check the binary numbers if they are divided by 5'''

  try:
    user_input=input('Enter comma-separated 4-digit binary numbers: ')
    numbers=user_input.split(',')
    for number in numbers:
      if int(number,2)%5==0:
        print(number)

  except ValueError:
    print('Invalid Input.Please enter comma-separated 4-digit binary numbers.')

if __name__=='__main__':
  binary_number()

Enter comma-separated 4-digit binary numbers: 0100,0011,1010,1001
1010

**Question12:**To find numbers between 1000 & 3000 so that each digit is even number.

In [ ]:
def even_number():

  '''To find numbers between 1000 & 3000 so that each digit is even number.'''

  for i in range(1000,3001):
   i=str(i)
   if int(i[0])%2==0 and int(i[1])%2==0 and int(i[2])%2==0 and int(i[3])%2==0:
     print(i,end=',')

if __name__=='__main__':
     even_number()

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

**Question13:**To calculate words and digits from sentence

In [ ]:
def calculate():

  '''To calculate words and digits from sentence'''

  user_input=input('Enter a Sentence: ')
  words=0
  digits=0
  try:
    if user_input:
      for i in user_input:
        if i.isalpha():
          words+=1
        elif i.isdigit():
          digits+=1

  except ValueError:
    print('Invalid Input.Please enter a Sentence.')

  finally:
      print(f'LETTERS:{words}')
      print(f'DIGITS:{digits}')

if __name__=='__main__':
     calculate()

Enter a Sentence: hello there are 37 people out of which 27are men
LETTERS:35
DIGITS:4

**Question14:**To calculate uppercase and lowercase from sentences

In [ ]:
def upper_lower():

  '''To calculate uppercase and lowercase from sentences'''

  user_input=input('Enter a Sentence: ')
  upper=0
  lower=0
  try:
    if user_input:
      for i in user_input:
        if i.isupper():
          upper+=1
        elif i.islower():
          lower+=1

  except ValueError:
    print('Invalid Input.Please enter a Sentence.')

  finally:
      print(f'UPPER CASE:{upper}')
      print(f'LOWER CASE:{lower}')
if __name__=='__main__':
    upper_lower()

Enter a Sentence: Hello MY Name is Usman
UPPER CASE:5
LOWER CASE:13

**Question15:**TO compute the value of a+aa+aaa+aaaa with an input number(a).

In [ ]:
def aa():

  '''TO compute the value of a+aa+aaa+aaaa with an input number(a).'''
  try:
    a=int(input('Enter a Number: '))
    result=a+(a*11)+(a*111)+(a*1111)
  except ValueError:
    print('Invalid Input.Please enter a Number.')
  finally:
    print(f'Result:{result}')

if __name__=='__main__':
    aa()

Enter a Number: 9
Result:11106

**Question16:**To get odd numbers in a list from input

In [ ]:
def odd():

  '''To get odd numbers in a list from input'''

  user_input=input('Enter comma-separated numbers: ')
  numbers=user_input.split(',')
  odd_numbers=[]
  try:
    for number in numbers:
      if int(number)%2!=0:
        odd_numbers.append(number)
    print(odd_numbers)

  except ValueError:
    print('Invalid Input.Please enter comma-separated numbers.')

if __name__=='__main__':
    odd()

Enter comma-separated numbers: 1,2,3,4,5,6,7,8,9
['1', '3', '5', '7', '9']

**Question17:**To compute the net amount of a bank account.

In [ ]:
def net_amount():

  '''To compute the net amount of a bank account.'''

  net_amount=0
  while True:
      transaction=input('Enter Transaction(D/W amount or q to quit): ')
      if transaction.lower()=='q':
        break
      try:
        transaction_type,amount=transaction.split(' ')
        if transaction_type.upper()=='D':
          net_amount+=int(amount)
        elif transaction_type.upper()=='W':
          net_amount-=int(amount)
        else:
          print('Invalid Input.Please enter D for Deposit and W for Withdraw.')
      except ValueError:
        print('Invalid Input.Please enter D for Deposit and W for Withdraw.')
  print(f'Net Amount of your Account:{net_amount}')

if __name__=='__main__':
    net_amount()

Enter Transaction(D/W amount or q to quit): 10000
Invalid Input.Please enter D for Deposit and W for Withdraw.
Enter Transaction(D/W amount or q to quit): D 10000
Enter Transaction(D/W amount or q to quit): W 4987
Enter Transaction(D/W amount or q to quit): D 5000
Enter Transaction(D/W amount or q to quit): W 4367
Enter Transaction(D/W amount or q to quit): q
Net Amount of your Account:5646

**Question18:**To check the Validity of password.

In [ ]:
import re
def is_valid_password(password):

  '''To check the validity of password'''

  if not (6 <= len(password) <= 12):
    return False
  if not re.search("[a-z]", password):
    return False
  if not re.search("[A-Z]", password):
    return False
  if not re.search("[0-9]", password):
    return False
  if not re.search("[$#@]", password):
    return False

  return True
if __name__ == "__main__":
    password = input("Enter password: ")

    if is_valid_password(password):
        print("Valid Password.You can use it.")
    else:
        print("Invalid Password. Use another one.")

Enter password: ASmj193@#
Valid Password.You can use it.

**Question9:**To sort tuple based on name ,height and age.

In [ ]:
from operator import itemgetter

def sort_tuples(tuples_list):
    """To sort tuple based on name ,height and age."""

    sorted_tuples = sorted(tuples_list, key=itemgetter(0, 1, 2))
    return sorted_tuples

if __name__ == "__main__":

    input_tuples = []
    while True:
        user_input = input("Enter a tuple (name, age, height) or 'q' to quit: ")
        if user_input.lower() == 'q':
            break
        try:
            name, age, height = user_input.split(',')
            input_tuples.append((name, age, height))
        except ValueError:
            print("Invalid input format. Please enter values as 'name, age, height'.")

    sorted_result = sort_tuples(input_tuples)

    print(sorted_result)

Enter a tuple (name, age, height) or 'q' to quit: zain,19,54,ali,12,32,william,23,85
Invalid input format. Please enter values as 'name, age, height'.
Enter a tuple (name, age, height) or 'q' to quit: Tom,19,80 John,20,90 Jony,17,91 Jony,17,93 Json,21,85
Invalid input format. Please enter values as 'name, age, height'.
Enter a tuple (name, age, height) or 'q' to quit: Tom,19,80
Enter a tuple (name, age, height) or 'q' to quit: John,20,90
Enter a tuple (name, age, height) or 'q' to quit: Jony,17,93
Enter a tuple (name, age, height) or 'q' to quit: Jony,17,93
Enter a tuple (name, age, height) or 'q' to quit: Json,21,85
Enter a tuple (name, age, height) or 'q' to quit: q
[('John', '20', '90 '), ('Jony', '17', '93'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80 ')]

**Question20:**To get divisible of 7 in range 0 to n by defining a class

In [ ]:
class DivisibleBySeven:

  '''To get divisible of 7 in range 0 to n by defining a class'''

  def __init__(self, n):
        self.n = n

  def generate_numbers(self):
        for i in range(self.n + 1):
            if i % 7 == 0:
                yield i

divisible_by_seven = DivisibleBySeven(100)
for number in divisible_by_seven.generate_numbers():
    print(number)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

**Question21:**To compute the distance from current position

In [ ]:
import math

def calculate_distance(movements):
  """To compute the distance from current position"""

  x, y = 0, 0

  for direction, steps in movements:
    if direction == "UP":
      y += int(steps)
    elif direction == "DOWN":
      y -= int(steps)
    elif direction == "LEFT":
      x -= int(steps)
    elif direction == "RIGHT":
      x += int(steps)
    else:
      print(f"Invalid direction: {direction}")

  distance = math.sqrt(x**2 + y**2)
  return round(distance)

if __name__ == "__main__":
  movements = []
  while True:
    user_input = input("Enter movement (direction, steps) or 'q' to quit: ")
    if user_input.lower() == 'q':
      break
    try:
      direction, steps = user_input.split(',')
      movements.append((direction.strip().upper(), steps.strip()))
    except ValueError:
      print("Invalid input. Please enter as 'direction, steps'.")

  distance = calculate_distance(movements)
  print("Distance from origin:", distance)

Enter movement (direction, steps) or 'q' to quit: UP,4
Enter movement (direction, steps) or 'q' to quit: UP,1
Enter movement (direction, steps) or 'q' to quit: DOWN,3
Enter movement (direction, steps) or 'q' to quit: LEFT,3
Enter movement (direction, steps) or 'q' to quit: RIGHT,2
Enter movement (direction, steps) or 'q' to quit: q
Distance from origin: 2

**Question22:**To compute frequency of words from input.

In [ ]:
def word_freq():
  """To compute frequency of words from input."""

  user_input=input('Enter a Sentence: ')
  words=user_input.split(' ')
  word_freq={}
  for word in words:
    if word in word_freq:
      word_freq[word]+=1
    else:
      word_freq[word]=1
  sorted_word=dict(sorted(word_freq.items()))
  for word,freq in sorted_word.items():
    print(f'{word}:{freq}',end=' ')
if __name__=='__main__':
  word_freq()

Enter a Sentence: a very little boy came from city to live in the woods the boy lives in city before
a:1 before:1 boy:2 came:1 city:2 from:1 in:2 little:1 live:1 lives:1 the:2 to:1 very:1 woods:1

**Question23:**To calculate square value of number.

In [ ]:
def square():
  """To calculate square value of a number"""
  user_input=input('Enter a Number: ')
  try:
    user_input=int(user_input)
    square=user_input**2
  except ValueError:
    print('Invalid Input.Please enter a Number')
  finally:
    print(f'Square of {user_input} is {square}')
if __name__=='__main__':
  square()

Enter a Number: 25
Square of 25 is 625

**Question24:**To print some python in-built functions

In [ ]:
print(abs.__doc__)
print(all.__doc__)
print(any.__doc__)
print(ascii.__doc__)
print(bin.__doc__)
print(bool.__doc__)
print(bytearray.__doc__)
print(bytes.__doc__)
print(callable.__doc__)
print(chr.__doc__)
print(compile.__doc__)
print(input.__doc__)
print(int.__doc__)
print(list.__doc__)

def my_func():
  '''To print a custom in-built pyhton func'''
  print('Hello from my_function')
print(my_func.__doc__)
if __name__=='__main__':
    my_func()

Return the absolute value of the argument.
Return True if bool(x) is True for all values x in the iterable.

If the iterable is empty, return True.
Return True if bool(x) is True for any x in the iterable.

If the iterable is empty, return False.
Return an ASCII-only representation of an object.

As repr(), return a string containing a printable representation of an
object, but escape the non-ASCII characters in the string returned by
repr() using \\x, \\u or \\U escapes. This generates a string similar
to that returned by repr() in Python 2.
Return the binary representation of an integer.

   >>> bin(2796202)
   '0b1010101010101010101010'
bool(x) -> bool

Returns True when the argument x is true, False otherwise.
The builtins True and False are the only two instances of the class bool.
The class bool is a subclass of the class int, and cannot be subclassed.
bytearray(iterable_of_ints) -> bytearray
bytearray(string, encoding[, errors]) -> bytearray
bytearray(bytes_or_buffer) -> mutable copy of bytes_or_buffer
bytearray(int) -> bytes array of size given by the parameter initialized with null bytes
bytearray() -> empty bytes array

Construct a mutable bytearray object from:
  - an iterable yielding integers in range(256)
  - a text string encoded using the specified encoding
  - a bytes or a buffer object
  - any object implementing the buffer API.
  - an integer
bytes(iterable_of_ints) -> bytes
bytes(string, encoding[, errors]) -> bytes
bytes(bytes_or_buffer) -> immutable copy of bytes_or_buffer
bytes(int) -> bytes object of size given by the parameter initialized with null bytes
bytes() -> empty bytes object

Construct an immutable array of bytes from:
  - an iterable yielding integers in range(256)
  - a text string encoded using the specified encoding
  - any object implementing the buffer API.
  - an integer
Return whether the object is callable (i.e., some kind of function).

Note that classes are callable, as are instances of classes with a
__call__() method.
Return a Unicode string of one character with ordinal i; 0 <= i <= 0x10ffff.
Compile source into a code object that can be executed by exec() or eval().

The source code may represent a Python module, statement or expression.
The filename will be used for run-time error messages.
The mode must be 'exec' to compile a module, 'single' to compile a
single (interactive) statement, or 'eval' to compile an expression.
The flags argument, if present, controls which future statements influence
the compilation of the code.
The dont_inherit argument, if true, stops the compilation inheriting
the effects of any future statements in effect in the code calling
compile; if absent or false these statements do influence the compilation,
in addition to any features explicitly specified.
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplementedError if active frontend doesn't support stdin.

int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.
To print a custom in-built pyhton func
Hello from my_function

**Question25:**Defining a Class,class parameter and same instance parameter.

In [ ]:
class My_class():
  class_parameter='I am a class parameter'
  def __init__(self,instance_parameter='Default Value'):
    self.instance_parameter=instance_parameter

obj1=My_class()
print(My_class.class_parameter)
print(obj1.instance_parameter)
obj1.instance_parameter='I am an instance parameter'
print(obj1.instance_parameter)
print(My_class.class_parameter)

I am a class parameter
Default Value
I am an instance parameter
I am a class parameter

**Question26:**To get the sum of two input numbers.

In [ ]:
def sum():

  """To get sum of two input Numbers"""
  try:
    num_1=float(input('Enter 1st Number: '))
    num_2=float(input('Enter 2nd NUmber: '))
    sum=num_1+num_2
  except Exception as e:
    print(f'The Error you got is {e}.')
  finally:
    print(f'Sum of {num_1} and {num_2} = {round(sum)}')
if __name__=='__main__':
    sum()

Enter 1st Number: 56.4
Enter 2nd NUmber: 44
Sum of 56.4 and 44.0 = 100

**Question27:**Function to convert integer to string.

In [ ]:
def int_to_str():

  """Function to convert integer to string."""

  user_input=int(input('Enter an integer: '))
  user_input=str(user_input)
  print(type(user_input),':',(user_input))

if __name__=='__main__':
    int_to_str()

Enter an integer: 34
<class 'str'> : 34

**Question28:**:Function to convert integer to string.

In [ ]:
def int_to_str():

  """Function to convert integer to string."""

  user_input=int(input('Enter an integer: '))
  user_input=str(user_input)
  print(type(user_input),':',(user_input))

if __name__=='__main__':
    int_to_str()

Enter an integer: 67
<class 'str'> : 67

**Question29:**To compute sum of two integral in string

In [ ]:
def sum_integral():

  """To compute sum of two integral in string"""

  user_input=input('Enter two integral numbers separated by comma: ')
  user_input=user_input.split(',')
  sum=int(user_input[0])+int(user_input[1])
  print(sum)

if __name__=='__main__':
    sum_integral()

Enter two integral numbers separated by comma: 45,54
99

**Question30:**To aceept two strings as input and concatenate them.

In [ ]:
def concatenate():

  """To aceept two strings as input and concatenate them."""

  user_input=input('Enter two strings separated by comma: ')
  user_input=user_input.split(',')
  concatenated_str=" ".join(user_input)
  print(concatenated_str.title())

if __name__=='__main__':
    concatenate()

Enter two strings separated by comma: hello,world,i,m,learning,python
Hello World I M Learning Python

**Question31:**To get string with greater lenght

In [ ]:
def len_str():

  """To get the String with greater lenght"""

  user_input=input('Enter two strings separated by comma: ')
  user_input=user_input.split(',')
  if len(user_input[0])>len(user_input[1]):
    print((user_input[0]).title())
  elif len(user_input[0])<len(user_input[1]):
    print((user_input[1]).title())
  else:
    print('Both Strings are of equal length.')
    print((user_input[0]).title())
    print((user_input[1]).title())

if __name__=='__main__':
    len_str()

Enter two strings separated by comma: hello world,i m learning python
I M Learning Python

**Question32:**To check the given number is even or odd

In [ ]:
def even_odd():

  """To check the given number is even or odd"""

  try:
    user_input=int(input('Enter a Number: '))
    if user_input%2==0:
      print(f'{user_input} is Even Number.')
    elif user_input%2!=0:
      print(f'{user_input} is Odd Number.')
  except:
    print('Invalid Input.Please enter a Number.')
  finally:
    print('Thank You')

if __name__=='__main__':
    even_odd()

Enter a Number: 76
76 is Even Number.
Thank You

**Question33:**To get a dictionary keys are 1 to 3 numbers and values are square of numbers.

In [ ]:
def dict_square():

  """To get a dictionary keys are 1 to 3 numbers and values are square of numbers."""

  square_dict={}
  try:
    for i in range(1,4):
      square_dict[i]=i**2
    print(square_dict)
  except Exception as e:
    print(f'The Error you got is {e}.')
  finally:
    print('Thank You')

if __name__=='__main__':
    dict_square()

{1: 1, 2: 4, 3: 9}
Thank You

Question34:To get a dictionary keys are 1 to 20 numbers and values are square of numbers.

In [ ]:
def dict_square():

  """To get a dictionary keys are 1 to 20 numbers and values are square of numbers."""

  square_dict={}
  try:
    for i in range(1,21):
      square_dict[i]=i**2
    print(square_dict)
  except Exception as e:
    print(f'The Error you got is {e}.')
  finally:
    print('Thank You')

if __name__=='__main__':
    dict_square()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
Thank You

**Question35:**To generate dictionary with keys 1 to 20 and values with square of keys & print values only.

In [ ]:
def print_sq_value():
  """To generate dictionary with keys 1 to 20 and values with square of keys &
   print values only."""

  square_dict={}
  try:
    for i in range(1,21):
      square_dict[i]=i**2
    print(list(square_dict.values()))
  except Exception as e:
    print(f'The Error you got is {e}.')
  finally:
    print('Thank You')

if __name__=='__main__':
    print_sq_value()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
Thank You

Question36:To generate dictionary with keys 1 to 20 and values with square of keys & print keys only.

In [ ]:
def print_sq_value():
  """To generate dictionary with keys 1 to 20 and values with square of keys &
   print keys only."""

  square_dict={}
  try:
    for i in range(1,21):
      square_dict[i]=i**2
    print(list(square_dict.keys()))
  except Exception as e:
    print(f'The Error you got is {e}.')
  finally:
    print('Thank You')

if __name__=='__main__':
    print_sq_value()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Thank You

**Question37:**To generates and prints a list of squares from 1 to 20.b

In [ ]:
def print_squares():

  """To generates and prints a list of squares from 1 to 20."""

  squares = []
  try:
    for i in range(1, 21):
      squares.append(i ** 2)
    print(squares)
  except Exception as e:
    print(f'The Error you got is {e}.')
  finally:
    print('Thank You')
if __name__=="__main__":
  print_squares()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
Thank You

**Question38:**Generates a list of squares from 1 to 20 and prints the first 5 elements

In [ ]:
def print_squares():
  """Generates a list of squares from 1 to 20 and prints the first 5 elements."""

  squares = []
  try:
    for i in range(1, 21):
      squares.append(i ** 2)
    print(squares[:5])
  except Exception as e:
    print(f'The Error you got is {e}.')
  finally:
    print('Thank You')

if __name__=="__main__":
   print_squares()

[1, 4, 9, 16, 25]
Thank You

**Question39:**Generates a list of squares from 1 to 20 and prints the last 5 elements

In [ ]:
def print_squares():

  """Generates a list of squares from 1 to 20 and prints the last 5 elements."""

  squares = []
  try:
    for i in range(1, 21):
      squares.append(i ** 2)
    print(squares[-5:])
  except Exception as e:
    print(f'The Error you got is {e}.')
  finally:
    print('Thank You')

if __name__=="__main__":
   print_squares()

[256, 289, 324, 361, 400]
Thank You

**Question40**:Generates a list of squares from 1 to 20 and prints all values except first 5 elements

In [ ]:
def print_squares():

  """Generates a list of squares from 1 to 20 and prints the last 5 elements."""

  squares = []
  try:
    for i in range(1, 21):
      squares.append(i ** 2)
    print(squares[5:])
  except Exception as e:
    print(f'The Error you got is {e}.')
  finally:
    print('Thank You')

if __name__=="__main__":
   print_squares()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
Thank You

**Question41:**To generate & print a tuple of squares between 1 to 20

In [ ]:
def generate_squares_tuple():

  """Generates and prints a tuple of squares between 1 and 20."""

  squares_list = []
  for i in range(1, 21):
    square = i ** 2
    squares_list.append(square)
  squares_tuple = tuple(squares_list)
  print(squares_tuple)

if __name__=="__main__":
    generate_squares_tuple()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

**Question42:**With given tuple print first half in one line & other in 2nd line.

In [ ]:
def print_first_half():

  """With given tuple print first half in one line & other in 2nd line."""

  my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
  middle_index = len(my_tuple) // 2
  first_half = my_tuple[:middle_index]
  last_half = my_tuple[middle_index:]
  print(first_half)
  print(last_half)

if __name__=="__main__":
    print_first_half()

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

**Question43:**To generate and print a tuple contains even number

In [ ]:
def get_tuple():

  """To generate and print a tuple contains even number"""

  even_tuple:tuple=()
  for i in range(1,11):
    if i%2==0:
      even_tuple+=(i,)
  print(even_tuple)

if __name__=='__main__':
  get_tuple()

(2, 4, 6, 8, 10)

**Question44:**To get a string as input and print yes or no.

In [ ]:
def yes_no():

  """To get a string as input and print yes or no."""

  user_input=input('Enter a string: ')
  if user_input=='yes'.lower():
    print('YES')
  else:
    print('NO')

if __name__=='__main__':
    yes_no()

Enter a string: my
NO

**Question45:**To get even numbers from list using filter function.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = list(filter(lambda x: x%2==0, numbers))

print(even_numbers)

[2, 4, 6, 8, 10]

**Question46:**To get a list whose element are square of 1 to 10 using map function.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squared_numbers = list(map(lambda x: x**2, numbers))

print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Question47:**To get list whose elements are square of even number from 1 to 10 using map and filter function.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

squared_even_numbers = list(map(lambda x: x**2, even_numbers))

print(squared_even_numbers)

[4, 16, 36, 64, 100]

Question48:To get even numbers from list using filter function.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

even_numbers = list(filter(lambda x: x%2==0, numbers))

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Question49:To get a list whose element are square of 1 to 20 using map function.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

squared_numbers = list(map(lambda x: x**2, numbers))

print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

**Question50:**To define a class

In [ ]:
class American:
    @staticmethod
    def printNationality():
        print("America")

**Question51:**To define a subclass.

In [ ]:
class American:
  def printNationality():
    print("America")

class NewYorker(American):
  pass

**Question52:**Initializes a Circle object with the given radius.

In [ ]:
class Circle:
    def __init__(self, radius):

        self.radius = radius

    def area(self):

        return 3.14159 * (self.radius ** 2)

**Question53:**Initialize a rectangle object with leght and width

In [ ]:
class Rectangle:
    def __init__(self, length, width):
        self.length = 56
        self.width = 76

    def area(self):
        return self.length * self.width

**Question54:**Defining a class Shapes and subclass aquare.

In [ ]:
class Shapes:
  def __init__(self):
    pass
  def area(self):
    return 0
class Square(Shapes):
  def __init__(self,lenght):
    super.__init__()
    self.lenght=lenght

  def area(self):
    return self.lenght*self.lenght

**Question55**:Raising a RuntimeError exception.

In [ ]:
try:
  raise RuntimeError("An error occurred")
except RuntimeError as e:
  print(f'The Error you got is {e}.')

The Error you got is An error occurred.

**Question56:**To compute 5/0 and using try/except to get exception.

In [ ]:
def func():

  """To compute 5/0 and using try/except to get exception."""

  try:
    result=5/0
  except ZeroDivisionError as e:
    print(f'The Error you got is {e}.')
  finally:
    print('Thank You')

if __name__=='__main__':
      func()

The Error you got is division by zero.
Thank You

**Question57:**Defining a custom exception class which takes a string message as attribute.

In [ ]:
class CustomException(Exception):
    """A custom exception class."""

    def __init__(self, message):
        self.message = message
        super().__init__(message)

**Question58:**To split username & company name from email.

In [ ]:
def user_company():

  """To split username & company name from email"""

  user_input=input('Enter an email: ')
  user_input=user_input.split('@')
  print(f'Username: {user_input[0]}')
  print(f'Company Name: {user_input[1]}')

if __name__=='__main__':
    user_company()

Enter an email: john@google.com
Username: john
Company Name: google.com

Question59:To print  company name from email.

In [ ]:
def company():

  """To print company name from email"""

  user_input=input('Enter an email: ')
  user_input_1=user_input.split('@')
  user_input=user_input_1[1].split('.')

  print(f'Company Name: {user_input[0]}')

if __name__=='__main__':
    company()

Enter an email: john@google.com
Company Name: google

**Question60:**To print digits from the input separated by whitespaces.

In [ ]:
def print_digit():

  """To print digits from the input separated by whitespaces."""

  user_input=input('Enter a string: ')
  for i in user_input:
    if i.isdigit():
      print(i,end=' ')

if __name__=='__main__':
        print_digit()

Enter a string: 2 dogs 3 cats
2 3

**Question61**:Printing a unicode string.

In [ ]:
def print_unicode_string():

  """Printing a unicode string."""

  unicode_string = u"hello world"
  print(unicode_string)

if __name__ == "__main__":
  print_unicode_string()

hello world

**Question62:**To read ASCII string and convert it to aunicode string encoded by utf-8.

In [ ]:
def convert_to_unicode():

  """To read ASCII string and convert it to aunicode string encoded by utf-8."""

  ascii_string = input("Enter an ASCII string: ")
  unicode_string = ascii_string.encode('utf-8').decode('utf-8')

  print("Unicode string:", unicode_string)
  print("Type:", type(unicode_string))


if __name__ == "__main__":
  convert_to_unicode()

Enter an ASCII string: Hello, World!
Unicode string: Hello, World!
Type: <class 'str'>

**Question63**:Writing a comment to indicate a python source code file is in unicode

In [ ]:
# -*- coding: utf-8 -*-

**Question64**:To computes the sum of the series 1/2 + 2/3 + 3/4 + ... + n/n+1.

In [ ]:
def compute_series(n):

  """To computes the sum of the series 1/2 + 2/3 + 3/4 + ... + n/n+1."""

  total_sum=0
  n=int(input('Enter a number(n): '))
  for i in range(1,n+1):
    total_sum+=float(i)/(i+1)
  return total_sum
  print(f"The total sum of series is :{total_sum}")
if __name__=='__main__':
  print(compute_series(5))

Enter a number(n): 5
3.5500000000000003

**Question65:**Function to computes f(n) = f(n-1) + 100 when n > 0 and f(0) = 1.

In [ ]:
def f(n):

  """Function to computes f(n) = f(n-1) + 100 when n > 0 and f(0) = 1."""

  if n == 0:
    return 1
  else:
    return f(n - 1) + 100

n = int(input("Enter a number (n>0): "))
result = f(n) -1
print(result)

Enter a number (n>0): 5
500

**Question66:**Defining a function to compute the value of f(n) for the Fibonacci sequence.

In [ ]:
def fibonacci(n):

    """Defining a function to compute the value of f(n) for the Fibonacci sequence."""

    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

n = int(input("Enter a number: "))
result = fibonacci(n)
print(result)

Enter a number: 7
13

**Question67:**To generates the Fibonacci sequence up to n terms using list comprehension.

In [ ]:
def fibonacci_sequence(n):

    """Generates the Fibonacci sequence up to n terms using list comprehension."""

    if n <= 0:
        return []
    elif n == 1:
        return [0]
    else:
        fib_list = [0, 1]
        for i in range(2, n):
            fib_list.append(fib_list[i - 1] + fib_list[i - 2])
        return fib_list
n = int(input("Enter the number of terms: "))
fib_sequence = fibonacci_sequence(n)
print(",".join(map(str, fib_sequence)))

Enter the number of terms: 7
0,1,1,2,3,5,8

**Question68:**To generate even numbers between 0 to input_number.

In [ ]:
def even():

  """To generate even numbers between 0 to input_number."""
  try:
    n=input("Enter an integer: ")
    n=int(n)
    for i in range(0,n+1):
      if i%2==0:
        print(i,end=',')
  except Exception as e:
    print(f'The Error you got is {e}.')
  finally:
    print('Thank You')
if __name__=="__main__":
    even()

Enter an integer: 10
0,2,4,6,8,10,Thank You

**Question69:**To generate numbers divisible by 5 & 7 between 0 & input number.

In [ ]:
def divisible():

  """To generate numbers divisible by 5 & 7 between 0 & input number."""

  n=input("Enter an integer: ")
  n=int(n)
  try:
    for i in  range(0,n+1):
      if i%5==0 and i%7==0 :
        print(i,end=',')
  except Exception as e:
    print(f"The Error you got is {e}.")

if __name__=="__main__":
     divisible()

Enter an integer: 100
0,35,70,

**Qusetion70:**Verifing that every number in the list is even using assert statements.

In [ ]:
def verify_even_numbers(numbers):

  """Verifies that every number in the list is even using assert statements."""
  try:
    for number in numbers:
      assert number % 2 == 0, f"Assertion failed: {number} is not even."
    numbers = [2, 4, 6, 8, 9,7]
    verify_even_numbers(numbers)
    print("All numbers in the list are even.")
  except Exception as e:
    print(f"The Error you got is {e}.")

if __name__=="__main__":
    verify_even_numbers(numbers)

The Error you got is Assertion failed: 9 is not even..

**Question71**:Adding numbers by eval() to evaluate expression

In [ ]:
"""Adding numbers by eval() to evaluate expression"""
expression = input("Enter a mathematical expression: ")

try:
    result = eval(expression)
    print(result)
except (SyntaxError, NameError, TypeError):
    print("Invalid mathematical expression.")

Enter a mathematical expression: 35*3
105

**Question72:**Searching for a target element in a sorted list using binary search.

In [ ]:
def binary_search(sorted_list, target):

    """Searching for a target element in a sorted list using binary search."""

    low = 0
    high = len(sorted_list) - 1

    while low <= high:
        mid = (low + high) // 2
        if sorted_list[mid] == target:
            return mid
        elif sorted_list[mid] < target:
            low = mid + 1
        else:
            high = mid - 1

    return -1

**Question73**:Searching for a target element in a sorted list using binary search.

In [ ]:
def binary_search(sorted_list, target):

    """Searching for a target element in a sorted list using binary search."""

    low = 0
    high = len(sorted_list) - 1

    while low <= high:
        mid = (low + high) // 2
        if sorted_list[mid] == target:
            return mid
        elif sorted_list[mid] < target:
            low = mid + 1
        else:
            high = mid - 1

    return -1

**Question74**:To generate a float between 10 to 100.

In [ ]:
import random
def generate_random_float():
  """Generates a random float between 10 and 100."""
  random_float = random.uniform(10, 100)
  return random_float

random_number = generate_random_float()
print(random_number)

if __name__=="__main__":
    generate_random_float()

71.57530631993222

Question75:To generate a float between 5 to 95.

In [ ]:
import random
def generate_random_float():
  """Generates a random float between 10 and 100."""
  random_float = random.uniform(5,95)
  return random_float

random_number = generate_random_float()
print(random_number)

if __name__=="__main__":
    generate_random_float()

44.21807202521623

**Question76**:To generate random even number from list 0 to 10

In [ ]:
import random
def generate_even_number():

  """To generates a random even number from list 0 to 10."""

  numbers:list=[0,1,2,3,4,5,6,7,8,9,10]
  random_even_number=random.choice([num for num in numbers if num%2==0])
  print(random_even_number)

if __name__=="__main__":
     generate_even_number()

8

Question77:To generate random number divisible by 5 & 7 from 0 to 10.

In [ ]:
import random
def generate_random_number():

  """To generate random number divisible by 5 & 7 from 0 to 10"""

  random_num=random.choice([num for num in range(0,10) if num%5==0 and num%7==0])
  print(random_num)

if __name__=="__main__":
    generate_random_number()

0

**Question78**:To generate a list with 5 random numbers between 100 and 200 inclusive.

In [ ]:
import random

def generate_random_numbers():

  """Generates a list with 5 random numbers between 100 and 200 inclusive."""

  random_numbers = random.sample(range(100, 201), 5)
  print(random_numbers)

if __name__ == "__main__":
  generate_random_numbers()

[123, 137, 157, 171, 184]

**Question79**:To randomly generate a list with 5 even numbers between 100 and 200.

In [ ]:
import random
def generate_random_numbers():

  """To generates a list with 5 random numbers between 100 and 200 inclusive."""

  even_numbers = [num for num in range(100, 201) if num % 2 == 0]
  random_even_numbers = random.sample(even_numbers, 5)
  print(random_even_numbers)

if __name__ == "__main__":
  generate_random_numbers()

[116, 194, 158, 106, 122]

**Question80**:To generate a list with 5 numbers, which are divisible by 5 and 7 , between 1 and 1000.

In [ ]:
import random
def gen_rand_num():

  """To generates a list with 5 numbers, which are divisible by 5 and 7 , between 1 and 1000."""

  numbers=[num for num in range(1,1001) if num%5==0 and num%7==0]
  random_numbers=random.sample(numbers,5)
  print(random_numbers)

if __name__=="__main__":
    gen_rand_num()

[280, 455, 595, 735, 805]

**Question81**:To randomly print a integer number between 7 and 15.

In [ ]:
import random

def print_random_integer():

  """To randomly print a integer number between 7 and 15."""

  random_integer = random.randrange(7, 16)
  print(random_integer)

if __name__ == "__main__":
  print_random_integer()

14

**Question82**:To compress and decompress the string

In [2]:
import zlib

def compress_and_decompress(input_string):

  """Compresses and decompresses the string."""

  compressed_string = zlib.compress(input_string.encode())
  decompressed_string = zlib.decompress(compressed_string).decode()
  print("Original string:", input_string)
  print("Compressed string:", compressed_string)
  print("Decompressed string:", decompressed_string)
  return compressed_string, decompressed_string

if __name__ == "__main__":
  input_string = "hello world!hello world!hello world!hello world!"
  compress_and_decompress(input_string)

Original string: hello world!hello world!hello world!hello world!
Compressed string: b'x\x9c\xcbH\xcd\xc9\xc9W(\xcf/\xcaIQ\xcc \x82\r\x00\xbd[\x11\xf5'
Decompressed string: hello world!hello world!hello world!hello world!

**Question83**:To print the running time of execution of "1+1" for 100 times.

In [3]:
import timeit

def calculate_running_time():

  """Calculates the running time of executing '1+1' 100 times."""

  code_snippet = "1 + 1"
  running_time = timeit.timeit(code_snippet, number=100)
  print(f"Running time: {running_time} seconds")

if __name__ == "__main__":
  calculate_running_time()

Running time: 2.6009999771758885e-06 seconds

**Question84**:To shuffle and print the list

In [5]:
import random
def shuffle_list():

  """Shuffles and prints the list."""
  input_list = [3,6,7,8,4,0]
  random.shuffle(input_list)
  print("Shuffled list:", input_list)

if __name__ == "__main__":
  shuffle_list()

Shuffled list: [3, 0, 7, 8, 4, 6]


Question85:To shuffle and print the **list**

In [7]:
def shuffle_list():

  """Shuffles and prints the list."""
  input_list = [3,6,7,8,4,0]
  random.shuffle(input_list)
  print("Shuffled list:", input_list)

if __name__=="__main__":
    shuffle_list()

Shuffled list: [4, 6, 3, 7, 0, 8]

**Question86**:To generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].

In [8]:
"""To generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and the object is in ["Hockey","Football"]."""

subjects = ["I", "You"]
verbs = ["Play", "Love"]
objects = ["Hockey", "Football"]

for subject in subjects:
  for verb in verbs:
    for object in objects:
      sentence = subject + " " + verb + " " + object
      print(sentence)

I Play Hockey
I Play Football
I Love Hockey
I Love Football
You Play Hockey
You Play Football
You Love Hockey
You Love Football

**Question87**:To print the list after removing delete even numbers in [5,6,77,45,22,12,24].

In [13]:
"""To print the list after removing delete even numbers in [5,6,77,45,22,12,24]"""

numbers = [5, 6, 77, 45, 22, 12, 24]

odd_numbers = [num for num in numbers if num % 2 != 0]

print(odd_numbers)

[5, 77, 45]

**Question88**:To print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].

In [14]:
"""To print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155]"""

numbers = [12, 24, 35, 70, 88, 120, 155]

filtered_numbers = [num for num in numbers if num % 5 != 0 or num % 7 != 0]

print(filtered_numbers)

[12, 24, 88, 120, 155]

**Question89**:To print the list after removing the 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155].

In [15]:
"""To print the list after removing the 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155]."""

numbers = [12, 24, 35, 70, 88, 120, 155]

filtered_numbers = [num for i, num in enumerate(numbers) if i not in (0, 2, 4, 6)]

print(filtered_numbers)

[24, 70, 120]

**Question90:**To generate a 358 3D array whose each element is 0.

In [18]:
"""To generate a 358 3D array whose each element is 0"""

array_3d = [[[0 for _ in range(8)] for _ in range(5)] for _ in range(3)]

**Question91:**To print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [19]:
"""To print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155]."""

numbers = [12, 24, 35, 70, 88, 120, 155]

filtered_numbers = [num for i, num in enumerate(numbers) if i not in (0, 4, 5)]

print(filtered_numbers)

[24, 35, 70, 155]

**Question92**:To print the list after removing the value 24 in [12,24,35,24,88,120,155].

In [21]:
"""To print the list after removing the value 24 in [12,24,35,24,88,120,155]."""

numbers = [12, 24, 35, 24, 88, 120, 155]
new_numbers = [num for num in numbers if num != 24]
print(new_numbers)

[12, 35, 88, 120, 155]

**Question93**:To make a list whose elements are intersection.

In [23]:
def find_intersection(list1, list2):

    """To make a list whose elements are intersection"""

    set1 = set(list1)
    set2 = set(list2)
    set1 &= set2
    return list(set1)

list1 = [1, 3, 6, 78, 35, 55]
list2 = [12, 24, 35, 24, 88, 120, 155]
intersection_list = find_intersection(list1, list2)
print(intersection_list)

[35]

**Question94**:To print this list after removing all duplicate values with original order reserved.

In [25]:
def remove_duplicates_preserve_order(input_list):

  """To print this list after removing all duplicate values with original order reserved."""

  seen = set()
  result = []
  for item in input_list:
    if item not in seen:
      seen.add(item)
      result.append(item)
  return result

numbers = [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
unique_numbers = remove_duplicates_preserve_order(numbers)
print(unique_numbers)

[12, 24, 35, 88, 120, 155]

**Question95**:Defining a class and its two child classes.

In [26]:
class Person:
    def __init__(self):
        pass
    def getGender(self):
        return "Unknown"

class Male(Person):
    def __init__(self):
        super().__init__()
    def getGender(self):
        return "Male"

class Female(Person):
    def __init__(self):
        super().__init__()
    def getGender(self):
        return "Female"

**Question96**:To count and print the numbers of each character in a string input by console.

In [28]:
def char_frequency(input_string):

    char_count = {}
    for char in input_string:
        char_count[char] = char_count.get(char, 0) + 1

    sorted_chars = sorted(char_count.keys())

    output = []
    for char in sorted_chars:
        output.append(f"{char},{char_count[char]}")

    print(" ".join(output))

if __name__ == "__main__":
    input_string = input("Enter a string: ")
    char_frequency(input_string)

Enter a string: My name is Muhammad Usman
 ,4 M,2 U,1 a,4 d,1 e,1 h,1 i,1 m,4 n,2 s,2 u,1 y,1

**Question97**:Accepts a string from console and prints it in reverse order.

In [29]:
def reverse_string():

  """Accepts a string from console and prints it in reverse order."""

  input_string = input("Enter a string: ")
  reversed_string = input_string[::-1]
  print(reversed_string)

if __name__ == "__main__":
  reverse_string()

Enter a string: My name is Muhammad Usman
namsU dammahuM si eman yM

**Question98**:Accepts a string from console and prints the characters that have even indexes

In [30]:
def print_even_index_chars():

  """Accepts a string from console and prints the characters that have even indexes."""

  input_string = input("Enter a string: ")
  print(input_string[::2])

if __name__ == "__main__":
  print_even_index_chars()

Enter a string: My name is Muhammad Usman
M aei uamdUmn

**Question99**:To prints all permutations of the given list.

In [31]:
import itertools

def print_permutations(input_list):
  """To prints all permutations of the given list."""
  for permutation in itertools.permutations(input_list):
    print(permutation)

if __name__ == "__main__":
  my_list = [1, 2, 3]
  print_permutations(my_list)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

**Question100**:To solves the chicken and rabbit puzzle using a for loop.

In [33]:
def solve_chicken_rabbit_puzzle():

    """To solves the chicken and rabbit puzzle using a for loop."""

    for chickens in range(36):
        rabbits = 35 - chickens
        if (chickens * 2) + (rabbits * 4) == 94:
            print(f"Chickens: {chickens}, Rabbits: {rabbits}")
            return
    print("No solution found.")

if __name__ == "__main__":
    solve_chicken_rabbit_puzzle()

Chickens: 23, Rabbits: 12